table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

ul,
ol {
  margin: 0;
  list-style-position: inside;
  padding-left: 0;
}

.inline {
  display: inline-block;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.day {
  border-top: 1px solid red;
}